<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Meal Prep For You</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="styles/layout.css" type="text/css" />
    <script src="scripts/index.js"></script>
  </head>
  <body>
    <div class="wrapper row1">
      <header id="header" class="clear">
        <div id="hgroup">
          <h1><a href="index.html">MEAL PREP 4 U</a></h1>
        </div>
        <nav>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="recipe.html">Recipe Search</a></li>
            <li><a href="pantry.html">My Pantry</a></li>
            <li><a href="profile.html">Profile</a></li>
          </ul>
        </nav>
      </header>

      <div class="slideshow-container">
        <div class="mySlides fade">
          <div class="numbertext">1 / 3</div>
          <img src="images/mealprep.png" style="width:960px; height:540px" />
        </div>

        <div class="mySlides fade">
          <div class="numbertext">2 / 3</div>
          <img
            src="images/healthycooking.jpg"
            style="width:960px; height:540px"
          />
        </div>

        <div class="mySlides fade">
          <div class="numbertext">3 / 3</div>
          <img src="images/dietary.jpg" style="width:960px; height:540px" />
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>

      <div style="text-align:center; margin: 1%">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>
    </div>
    <!-- content -->

    <div class="wrapper row2">
      <div id="container" class="clear">
        <section id="shout" class="slidesText">
          <h1>Prep for Success</h1>
          There are twice as many fast foods are there were in 1970. Without
          proper meal prep, people are more likely to eat fast food.
        </section>
        <section id="shout" class="slidesText">
          <h1>Healthy Cooking is Essential</h1>
          Adult obesity rates exceed 30% in 31 states as of September 2019.
          <br />
          Cooking healthy meals from scratch is more expensive and
          time-consuming than buying prepackaged food.
          <br />
          90 percent of Americans take in more sodium than health experts
          recommend for a healthy diet.
        </section>
        <section id="shout" class="slidesText">
          <h1>Address Your Dietary Needs</h1>
          <p>
            Tailor your meal plans with calorie counts, macronutrient tracking,
            and allergy restrictions.
          </p>
        </section>
      </div>
    </div>

    <script>
      var slideIndex = 1;
      showSlides(slideIndex);
    </script>
  </body>
</html>
