<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Meal Prep For You</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="styles/layout.css" type="text/css" />
    <script src="scripts/html5shiv.js"></script>
  </head>
  <body>
    <div class="wrapper row1">
      <header id="header" class="clear">
        <div id="hgroup">
          <h1 class="title"><a href="#">Meal Prep For You</a></h1>
          <h2>
            The best customizable meal prepping web application that is
            customized towards both your diet as well as your budget!
          </h2>
        </div>
        <div class="tab">
          <button
            class="tablinks"
            onclick="location.href='recipe.html'"
            type="button"
          >
            Find Recipes
          </button>
          <button
            class="tablinks"
            onclick="location.href='pantry.html'"
            type="button"
          >
            View Pantry
          </button>
          <button
            class="tablinks"
            onclick="location.href='profile.html'"
            type="button"
          >
            Profile
          </button>
        </div>
      </header>
    </div>

    <script>
      var slideIndex = 1;
      showSlides(slideIndex);
    </script>

    <div id="London" class="tabcontent">
      <h3>London</h3>
      <p>London is the capital city of England.</p>
    </div>

    <div id="Paris" class="tabcontent">
      <h3>Paris</h3>
      <p>Paris is the capital of France.</p>
    </div>

    <div id="Tokyo" class="tabcontent">
      <h3>Tokyo</h3>
      <p>Tokyo is the capital of Japan.</p>
    </div>
  </body>
</html>
