<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>MY PANTRY</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/default.css" type="text/css" />
    <script src="../static/scripts/pantry.js"></script>
  </head>
  <body>
    <div class="wrapper row1">
      <header id="header" class="clear">
        <img id="logo" src="../static/images/logo.png" />
        <nav>
          <ul>
            <li><a href="{{ url_for('home')}}">Home</a></li>
            <li><a href="{{ url_for('recipe')}}">Recipe Search</a></li>
            <li><a href="{{ url_for('pantry')}}">My Pantry</a></li>
            <li><a href="{{ url_for('profile')}}">Profile</a></li>
          </ul>
        </nav>
      </header>
    </div>
    <!-- content -->
    <div class="wrapper row2">
      <div id="container" class="clear">
        <section id="shout">
          <h2>How It Works</h2>
          <p>
            Add ingredients you already have in your pantry, and when it's time
            to search for a recipe, we will search using ingredients you already
            have!
          </p>
        </section>
        <!-- content body -->
        <div id="content" style="border-bottom: 1px solid #dedede;">
          <div id="include-ingredients">
            <form>Add Ingredient:<br /></form>
            <input type="text" name="include" id="include0" />
          </div>
          <input
            style="margin-top:2%"
            type="file"
            name="filename"
            id="filetag"
            onchange="loadFile(event)"
            accept="image/gif, image/jpeg, image/png"
          />
          <img id="output" width="200"/>
          <button class="myButton" id="addPantryItem">
            Add to Pantry!
          </button>
        </div>

        <div>
          <h2 style="margin-top: 2%;">
            Your Pantry Items:
          </h2>
          <div id="pantry-items"></div>
        </div>
      </div>
    </div>
  </body>

  <script>
    document
      .getElementById("addPantryItem")
      .addEventListener("click", addPantryItem);
  </script>
</html>
