<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Basic 81</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="styles/default.css" type="text/css" />
    <!--[if lt IE 9]><script src="scripts/html5shiv.js"></script><![endif]-->
  </head>
  <body>
    <div class="wrapper row1">
      <header id="header" class="clear">
        <div id="hgroup">
          <h1><a href="#">PROFILE</a></h1>
        </div>
        <nav>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="recipe.html">Recipe Search</a></li>
            <li><a href="pantry.html">My Pantry</a></li>
            <li><a href="profile.html">Profile</a></li>
          </ul>
        </nav>
      </header>
    </div>
    <!-- content -->
    <div class="wrapper row2">
      <div id="container" class="clear">
        <section id="shout">
          <h2>HOW IT WORKS</h2>
          <p>
            Here, you will be able to change and set information and preferences such as daily nutritional intake, dietary restrictions, preferred calories, and much more.
          </p>
        </section>
        <!-- content body -->
        <div id="content">
          <h3>Daily nutritional intake</h3>
          <!-- main content -->
          <div id="calories">
            <form>
              Calories (1500 - 3000):<br />
              <input type="number" min="1500" max="3000" /><br />
            </form>
          </div>
          <div id="protein">
            <form>
              Protein (35g - 70g):<br />
              <input type="number" min="35" max="70" /><br />
            </form>
          </div
          <div id="carbs">
            <form>
              Carbs (50g - 400g):<br />
              <input type="number" min="50" max="400" /><br />
            </form>
          </div>
          <div id="fat">
            <form>
              Fat (44g - 77g):<br />
              <input type="number" min="44" max="77" /><br />
            </form>
          </div>
          <h3>Diet</h3>
          <div id="diet">
            <form>
              <input type="radio" name="diet" value="yes">Yes</input>
              <input type="radio" name="diet" value="no">No</input>
            </form>
          <h3>Food Intolerances</h3>
          <div id="intolerance">
            <input type="checkbox" value="Dairy"> Dairy</input><br>
            <input type="checkbox" value="Gluten" > Gluten</input><br>
            <input type="checkbox" value="Caffiene" > Caffiene</input><br>
            <input type="checkbox" value="Salicylates" > Salicylates</input><br>
            <input type="checkbox" value="Amines" > Amines</input><br>
            <input type="checkbox" value="FODMAPs" > FODMAPs</input><br>
            <input type="checkbox" value="Sulfites" > Sulfites</input><br>
            <input type="checkbox" value="Fructose" > Fructose</input><br>
          </div>
          <button class="myButton">
            Find Recipes!
          </button>
        </div>
        <!-- / content body -->
  </body>
</html>
